#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=Delta
GenericName=browser
Comment=Sophisticated web browser for browsing
Exec=smartbrowser
Terminal=false
Icon=/opt/smartbrowser/Untitled.png
MimeType=text/html;
Categories=internet;
StartupNotify=true
Actions=Window;Document;
Name[en_IN]=Delta.desktop
